<?xml version="1.0" encoding="UTF-8" ?>

<launch>

	<arg name="marker_size" default="50.0" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/vrep/drone/front" />
    <arg name="cam_info_topic" default="/vrep/drone/visionSensorInfo" />	
	<arg name="output_frame" default="/FrontVision" />
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

    <node name="uavsim_tasks" pkg="task_manager_uavsim" type="task_server_uavsim"  output="screen">
        <param name="lib_path" value="$(find task_manager_uavsim)/tasks"/>
        <param name="base_frame" value="Drone"/>
        <param name="reference_frame" value="world"/>
        <remap from="/cmd_vel" to="/vrep/drone/cmd_vel"/>
    </node>
</launch>
